.map {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -5px;
  width: max-content;
  height: max-content;

  &__img {
    width: 375px;
    height: 375px;
    min-width: 375px;
    min-height: 375px;
    border-radius: 3rem;
    background-color: #55a948;

    &:before {
      content: '';
      position: relative;
      top: 405px;
      left: 275px;
      width: 50px;
      height: 50px;
      border-top: 100px solid #55a948;
      border-left: 100px solid transparent;
    }
  }

  &__coordinates {
    @include font-semi-bold;
    margin-top: 3.8rem;
    font-size: 2rem;
    text-align: right;
    line-height: 3rem;
    text-transform: capitalize;
    user-select: none;
  }
}
