.map {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -5px;
  width: max-content;
  height: max-content;

  &__img {
    width: 375px;
    height: 375px;
    min-width: 375px;
    min-height: 375px;
    border-radius: 3rem;
  }

  &__coordinates {
    @include font-semi-bold;
    margin-top: 2rem;
    font-size: 2rem;
    text-align: right;
    line-height: 3rem;
    text-transform: capitalize;
    user-select: none;
  }
}
