.container-weather-map {
  display: flex;
  justify-content: space-between;
  height: max-content;

  @media screen and (max-width: $width-laptop) {
    justify-self: stretch;
    flex-direction: column;
    align-items: center;
  }

  .weather {
    width: max-content;
    height: max-content;

    &__today {
      display: flex;
      margin-right: 5rem;
      width: max-content;
      user-select: none;

      @media screen and (max-width: $width-laptop) {
        width: auto;
        justify-content: center;
        margin-right: 0;
      }

      &-details {
        @include font-bold;
        position: relative;
        top: -50px;
        margin-left: 3.2rem;
        font-size: 2.2rem;
        height: fit-content;
        line-height: 3.7rem;
        text-transform: uppercase;

        @media screen and (max-width: $width-desktop-1) {
          top: subtractPercent(-50px, 0.2);
          margin-left: subtractPercent(3.2rem, 0.2);
          font-size: subtractPercent(2.2rem, 0.2);
          line-height: subtractPercent(3.7rem, 0.2);
        }

        @media screen and (max-width: $width-desktop-2) {
          top: subtractPercent(-50px, 0.3);
          margin-left: subtractPercent(3.2rem, 0.3);
          font-size: subtractPercent(2.2rem, 0.3);
          line-height: subtractPercent(3.7rem, 0.3);
        }

        @media screen and (max-width: $width-desktop-3) {
          top: subtractPercent(-50px, 0.4);
          margin-left: subtractPercent(3.2rem, 0.4);
          font-size: subtractPercent(2.2rem, 0.4);
          line-height: subtractPercent(3.7rem, 0.4);
        }

        @media screen and (max-width: $width-tablet-3) {
          top: subtractPercent(-50px, 0.5);
          margin-left: subtractPercent(3.2rem, 0.5);
          font-size: subtractPercent(2.2rem, 0.5);
          line-height: subtractPercent(3.7rem, 0.5);
        }
      }
    }

    &__temp-today {
      @include font-bold;
      font-size: 30.6rem;
      text-transform: uppercase;

      @media screen and (max-width: $width-desktop-1) {
        font-size: subtractPercent(30.6rem, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        font-size: subtractPercent(30.6rem, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        font-size: subtractPercent(30.6rem, 0.4);
      }

      @media screen and (max-width: $width-tablet-2) {
        font-size: subtractPercent(30.6rem, 0.65);
        padding-top: 7.1rem;
      }

      @media screen and (max-width: $width-tablet-3) {
        font-size: subtractPercent(30.6rem, 0.85);
      }
    }

    &__deg-today {
      @include font-bold;
      position: relative;
      top: 25px;
      width: max-content;
      height: max-content;
      vertical-align: top;
      font-size: 20rem;

      @media screen and (max-width: $width-desktop-1) {
        top: subtractPercent(25px, 0.2);
        font-size: subtractPercent(20rem, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        top: subtractPercent(25px, 0.3);
        font-size: subtractPercent(20rem, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        top: subtractPercent(25px, 0.4);
        font-size: subtractPercent(20rem, 0.4);
      }

      @media screen and (max-width: $width-tablet-1) {
        top: 1.5rem;
      }

      @media screen and (max-width: $width-tablet-2) {
        top: subtractPercent(25px, 0.65);
        font-size: subtractPercent(20rem, 0.65);
        padding-top: 7.1rem;
      }

      @media screen and (max-width: $width-tablet-3) {
        top: subtractPercent(25px, 0.85);
        font-size: subtractPercent(20rem, 0.85);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__icon-today {
      position: relative;
      left: 10px;
      top: -50px;
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;

      @media screen and (max-width: $width-desktop-1) {
        left: subtractPercent(10px, 0.2);
        top: subtractPercent(-50px, 0.2);
        width: subtractPercent(200px, 0.2);
        height: subtractPercent(200px, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        left: subtractPercent(10px, 0.3);
        top: subtractPercent(-50px, 0.3);
        width: subtractPercent(200px, 0.3);
        height: subtractPercent(200px, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        left: subtractPercent(10px, 0.4);
        top: subtractPercent(-50px, 0.4);
        width: subtractPercent(200px, 0.4);
        height: subtractPercent(200px, 0.4);
      }

      @media screen and (max-width: $width-tablet-2) {
        left: -50px;
      }

      @media screen and (max-width: $width-tablet-3) {
        left: -25px;
        top: subtractPercent(-50px, 0.55);
        width: subtractPercent(200px, 0.55);
        height: subtractPercent(200px, 0.55);
      }
    }

    &__next-three-days {
      @include font-bold;
      display: flex;
      width: max-content;
      height: max-content;
      font-size: 2.2rem;
      text-transform: uppercase;
      user-select: none;

      @media screen and (max-width: $width-desktop-1) {
        font-size: subtractPercent(2.2rem, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        font-size: subtractPercent(2.2rem, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        font-size: subtractPercent(2.2rem, 0.4);
      }

      @media screen and (max-width: $width-tablet-1) {
        width: auto;
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: $width-tablet-3) {
        font-size: subtractPercent(2.2rem, 0.5);
      }
    }

    &__day {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      &-title {
        margin-bottom: 1rem;
      }
    }

    &__day-temp {
      display: flex;
      font-size: 8rem;

      @media screen and (max-width: $width-desktop-1) {
        font-size: subtractPercent(8rem, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        font-size: subtractPercent(8rem, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        font-size: subtractPercent(8rem, 0.4);
      }

      @media screen and (max-width: $width-tablet-2) {
        font-size: subtractPercent(8rem, 0.5);
      }

      @media screen and (max-width: $width-tablet-3) {
        font-size: subtractPercent(8rem, 0.75);
      }

      & span {
        width: max-content;
        height: max-content;
      }
    }

    &__icon {
      position: relative;
      top: -15px;
      width: 100px;
      height: 100px;

      @media screen and (max-width: $width-desktop-1) {
        top: subtractPercent(-15px, 0.2);
        width: subtractPercent(100px, 0.2);
        height: subtractPercent(100px, 0.2);
      }

      @media screen and (max-width: $width-desktop-2) {
        top: subtractPercent(-15px, 0.3);
        width: subtractPercent(100px, 0.3);
        height: subtractPercent(100px, 0.3);
      }

      @media screen and (max-width: $width-desktop-3) {
        top: subtractPercent(-15px, 0.4);
        width: subtractPercent(100px, 0.4);
        height: subtractPercent(100px, 0.4);
      }

      @media screen and (max-width: $width-tablet-3) {
        top: subtractPercent(-15px, 0.65);
        width: subtractPercent(100px, 0.65);
        height: subtractPercent(100px, 0.65);
      }
    }
  }
}
