/node_modules
/dist
*.log
.env
.vscode
.cache
.eslintcache
package-lock.json
*.sh
*.txt
*.diff
*.patch

# Local Netlify folder
.netlify

# Yarn
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
