@mixin font-bold {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: $font-weight-bold;
  color: $color-text;
}

@mixin font-semi-bold {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: $font-weight-semi-bold;
  color: $color-text;
}

@mixin font-regular {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: $font-weight-regular;
  color: $color-text;
}

@mixin buttons-wrapper {
  display: flex;
  align-content: stretch;
  margin-left: 1rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: $font-size-language;
}

@mixin button {
  height: $height-button;
  width: $width-button;
  font-weight: $font-weight-bold;
  background: $background-button;
  color: $color-text;
  cursor: pointer;
  transition: 0.5s;
}

@mixin border-radius-left {
  border-radius: $border-radius 0 0 $border-radius;
}

@mixin border-radius-right {
  border-radius: 0 $border-radius $border-radius 0;
}

@mixin background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
