$background-button: rgba(76, 82, 85, 0.4);
$background-button-active: rgba(174, 181, 185, 0.5);
$background-button-refresh: rgba(180, 184, 187, 0.4);
$background-button-search: rgba(174, 181, 185, 0.5);
$background-overlay: linear-gradient(
  180deg,
  rgba(8, 15, 26, 0.59) 0%,
  rgba(17, 17, 46, 0.46) 100%
);
$background-search-input: rgba(76, 82, 85, 0.4);
$border-radius: 0.5rem;
$border-search-input: 1px solid rgba(228, 227, 227, 0.2);
$color-text: #ffffff;
$font-size-const: 10px;
$font-size-date-time: 2.4rem;
$font-size-language: 1.4rem;
$font-size-location: 4.4rem;
$font-size-search: 1.4rem;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$height-button: 4.4rem;
$padding-top-header: 4rem;
$padding-top-title: 6rem;
$padding-wrapper: 9rem;
$width-button: 4.4rem;
$width-button-search: 10rem;
